.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
}

.container {
  margin: 0 auto;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.logo {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

.logoImg {
  height: 30px;
  width: 30px;
}

.logoWord {
  height: 30px;
  width: 74px;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }

  .container {
    width: 768px;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
  }

  .logo {
    width: 181px;
    display: flex;
    justify-content: space-between;
  }

  .logoImg {
    height: 40px;
    width: 40px;
  }

  .logoWord {
    height: 40px;
    width: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0px 85px;
  }
}
