.homeviewSection {
  min-width: 320px;
  background-color: #e7eaf2;
  height: 100vh;
  padding: 70px 20px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  display: none;
}

.navIcons {
  margin-right: auto;
  margin-left: auto;
  width: 192px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.futureBalance {
  padding-top: 8px;
  padding-left: 30px;
  text-align: left;
  color: #a6a6a6;
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  width: 280px;
  height: 80px;
  background-color: white;
  border-radius: 30px;
  margin: 0 auto 30px;
}

@media screen and (min-width: 768px) {
  .homeviewSection {
    min-width: 768px;
    background-color: #e7eaf2;
    padding: 100px 40px;
    margin: 0 auto;
  }

  .flexContainer {
    position: relative;
    z-index: 100;
    margin: 0 auto;
  }

  .leftSide {
    width: 688px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .rightSide {
    margin: 0 auto;
  }

  .navIcons {
    display: block;
    width: 150px;
    margin: 10px 0px 37px 0px;
  }

  .futureBalance {
    padding-left: 40px;
    color: #a6a6a6;
    font-size: 12px;
    width: 334px;
    height: 80px;
    background-color: white;
    border-radius: 30px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .imageContainer {
    display: block;
  }

  .violetContainer {
    width: 618px;
    overflow: hidden;
    height: 547px;
    position: absolute;
    bottom: -50px;
    left: -53.3px;
  }

  .violetEllipse {
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    filter: blur(50px);
  }

  .pinkEllipse {
    display: block;
    position: absolute;
    top: -53px;
    right: 0px;
    filter: blur(50px);
  }
}

@media screen and (min-width: 1280px) {
  .homeviewSection {
    min-width: 1280px;
    background-color: #e7eaf2;
    height: 100vh;
    flex-direction: row;
    padding: 126px 85px;
    margin: 0 auto;
  }

  .leftSide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 465px;
    border-right: 1px solid #e7e5f2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
    background: none;
    padding-right: 30px;
  }

  .futureBalance {
    margin-bottom: 30px;
    width: 350px;
    margin-right: none;
  }

  .rightSide {
    display: flex;
    width: 100%;
    background: none;
  }

  .flexContainer {
    flex-direction: row;
    width: 100%;
  }
}
