.homeviewSection {
  min-width: 320px;
  background-color: #e7eaf2;
  min-height: 100vh;
  padding-top: 70px;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageContainer {
  display: none;
}

.navIcons {
  margin-right: auto;
  margin-left: auto;
  width: 192px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .homeviewSection {
    min-width: 768px;
    min-height: 100vh;
    background-color: #e7eaf2;
    padding-top: 100px;
    margin: 0 auto;
  }

  .flexContainer {
    position: relative;
    z-index: 100;
    margin: 0 auto;
  }

  .leftSide {
    width: 688px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .rightSide {
    margin: 0 auto;
  }

  .navIcons {
    display: block;
    width: 150px;
    margin: 10px 0px 37px 0px;
  }

  .violetEllipse {
    display: block;
    position: absolute;
    top: 458px;
    left: -53px;
    filter: blur(50px);
  }

  .pinkEllipse {
    display: block;
    position: absolute;
    top: -53px;
    right: 0px;
    filter: blur(50px);
  }
}

@media screen and (min-width: 1280px) {
  .homeviewSection {
    min-width: 1280px;
    background-color: #e7eaf2;
    min-height: 100vh;
    flex-direction: row;
    padding-top: 126px;
    margin: 0 auto;
  }

  .leftSide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 465px;
    border-right: 1px solid #e7e5f2;
    box-shadow: -1px 0px 0px rgba(0, 0, 0, 0.05),
      1px 0px 0px rgba(255, 255, 255, 0.6);
    background: none;
  }

  .rightSide {
    display: flex;
    width: 100%;
    background: none;
  }

  .flexContainer {
    flex-direction: row;
    width: 100%;
  }

  .violetEllipse {
    top: 271px;
  }
}
