.dollar {
  border: 1px solid #e5e5e5;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .RegFrameImac {
    position: relative;
    left: 94px;

    width: 273.93px;
    height: 250px;
  }

  .bigShadow {
    position: absolute;
    z-index: 7;

    bottom: 0;
    left: 25px;

    width: 239.94px;
    height: 34.54px;
  }

  .cellphone {
    position: absolute;
    z-index: 9;

    bottom: 30px;
    left: 92px;

    width: 121.36px;
    height: 215.95px;
  }

  .dollar {
    position: absolute;
    z-index: 9;

    top: 2px;
    right: 4px;

    width: 44.78px;
    height: 44.78px;
  }

  .flowerpot {
    position: absolute;

    bottom: 52px;
    left: 32px;

    width: 74.41px;
    height: 145.94px;
  }

  .sheetOfPaper {
    position: absolute;
    z-index: 10;

    left: 40px;
    bottom: 18px;

    width: 81.19px;
    height: 108.58px;
  }

  .woman {
    position: absolute;
    z-index: 10;

    bottom: 14px;
    left: 180px;

    width: 86.62px;
    height: 217.12px;
  }
}

@media (min-width: 1280px) {
  .RegFrameImac {
    position: relative;

    width: 452.1px;
    height: 412.6px;
  }

  .bigShadow {
    position: absolute;
    z-index: 2;

    width: 396px;
    height: 57px;

    bottom: 0px;
    left: 20px;
  }

  .woman {
    position: absolute;
    z-index: 5;

    width: 142.96px;
    height: 358.33px;

    bottom: 26px;
    left: 270px;
  }

  .sheetOfPaper {
    position: absolute;
    z-index: 4;

    width: 134px;
    height: 179.2px;

    bottom: 27px;
    left: 32px;
  }

  .cellphone {
    position: absolute;
    z-index: 3;

    width: 200.3px;
    height: 356.4px;

    bottom: 50px;
    left: 122px;
  }

  .flowerpot {
    position: absolute;
    z-index: 1;

    width: 122.8px;
    height: 240.85px;

    bottom: 76px;
    left: 22px;
  }

  .dollar {
    position: absolute;

    width: 73.9px;
    height: 73.9px;

    top: 0px;
    right: 22px;
  }
}
