.body_item,
.titles_head {
  padding: 10px;
}

.titles_head {
  font-family: Circe;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;

  text-align: right;

  color: #000000;
}

.head_date {
  width: 50px;
}

.body_item {
  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;

  color: #000000;
}

.type_green {
  color: #24cca7;
}

.type_red {
  color: #ff6596;
}

.body {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  margin-top: 58px;
  width: 700px;
}

.table {
  margin-left: auto;
  /* border-collapse: collapse; */
  border-spacing: 0;
  /* width: calc(100vw - 300px); */
}

.empty {
  width: 280px;
  height: 282px;
  text-align: center;

  font-family: Circe;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}

@media (min-width: 768px) {
  .row:not(:last-child) .body_item {
    border-bottom: 2px solid #dcdcdf;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  }

  .body_item,
  .titles_head {
    padding: 20px;
    max-width: 50px;
    background-color: white;
    text-align: start;
  }

  .titles_head:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 60px;
  }

  .titles_head:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }

  .body_item {
    background: transparent;
  }

  .table {
    width: 688px;
  }

  .type_red,
  .type_green,
  .body_item_balance,
  .body_item_type {
    text-align: center;
  }

  .empty {
    width: 688px;
    margin-top: 50px;
  }

  .body {
    filter: none;
  }

  .body_item:first-child,
  .titles_head:first-child {
    padding-left: 15px;
    min-width: 80px;
  }

  .titles_head {
    text-align: center;
  }

  .scroll_container {
    height: 45vh;
    width: 688px;
    overflow-x: hidden;
  }

  .body_item_type {
    max-width: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .table {
    width: 700px;
  }

  .scroll_container {
    height: 45vh;
    width: 700px;
  }

  .empty {
    width: 700px;
    height: 319px;
  }
}

@media (max-width: 767px) {
  .table {
    margin: auto;
    width: 0%;
  }
  .titles {
    display: none;
  }

  .body {
    margin-top: 0;
  }

  .body_item {
    display: block;
    position: relative;
    text-align: right;
    width: 270px;
    height: 45px;
    background-color: white;
  }

  .body_item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 10px;
  }

  .body_item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 10px;
  }

  .body_item:not(:last-child) {
    border-bottom: 1px solid rgba(220, 220, 223, 1);
  }

  .row_red {
    display: block;
    padding-left: 5px;
    margin-bottom: 10px;
    box-shadow: inset 5px 0px 0px 0px #ff6596;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .row_green {
    display: block;
    padding-left: 5px;
    margin-bottom: 10px;
    box-shadow: inset 5px 0px 0px 0px #24cca7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .body_item::before {
    content: attr(aria-label);
    /* border: 1px solid black; */
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    /* width: 60px; */
    float: left;
    font-weight: bold;
    color: #000000;
  }

  .scroll_container {
    height: 55vh;
    width: 280px;
    overflow-x: hidden;
  }
}
