.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* outline: 1px solid rgb(26, 11, 114); */
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 4 - 20px);
  margin: 8px;
  /* outline: 1px solid rgb(11, 114, 57); */
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .list {
    padding-top: 40px;
  }
}

.img {
  width: 80px;
  height: 100px;
  margin: 0 auto;
  border-radius: 20px;
  object-fit: cover;
  /* outline: 1px solid rgb(183, 212, 17); */
}

.thumb {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
}

.iconGithub {
  margin: 0 auto;
  width: 20px;
  height: 20px;
}
