.RegLeftSide {
  position: relative;
}

@media (min-width: 1280px) {
  .RegLeftSide {
    padding-top: 153px;
    padding-right: 42px;
  }

  .violetEllipse {
    position: absolute;

    width: 618px;
    height: 547px;

    left: -209px;
    bottom: -205px;
  }

  .titleLeftSide {
    position: relative;

    top: 40px;
    left: 130px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .titleLeftSide {
    position: relative;
    z-index: 10;

    left: 463px;
    bottom: 150px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 45px;
  }

  .violetEllipse {
    position: absolute;

    left: -167px;
    top: 633px;
  }
}

@media screen and (max-width: 767px) {
  .RegLeftSide,
  .pinkEllipse {
    display: none;
  }
}
