.form {
  width: 409px;

  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
}

.label {
  display: flex;

  margin-bottom: 15px;
}

.inputEmail {
  margin-bottom: 40px;
}

.TextField {
  width: 374px;
}

.TextField_label {
  left: 20px !important;
}
