/*@font-face {
  font-family: 'Circe';
  src: local('Circe-Bold'), url(./fonts/Circe-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'Circe';
  src: local('Circe-Regular'), url(./fonts/Circe-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'segoeui';
  src: local('segoeui'), url(./fonts/segoeui.ttf) format('truetype');
}

@font-face {
  font-family: 'segoeuib';
  src: local('segoeuib'), url(./fonts/segoeuib.ttf) format('truetype');
}*/

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
