.formContainer {
  overflow: hidden;

  text-align: center;
}

@media (min-width: 1280px) {
  .formContainer {
    width: 540px;

    display: inline-block;

    padding-left: 65px;
    padding-top: 40px;
    padding-right: 65px;
    padding-bottom: 44px;

    background-color: #fff;
    border-radius: 20px;
  }

  .RegRightSide {
    padding-left: 77px;
    padding-top: 52px;

    padding-bottom: 52px;
  }

  .titleRightSide {
    margin-left: 20px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;

    color: #000000;
  }

  .titleRightSideContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 48px;
  }
}
