.sectionRegistration {
  overflow: hidden;

  background: linear-gradient(to right, #e5e5e5 40%, #e7eaf2 9%);
  min-height: 916px;
}

@media screen and (max-width: 767px) {
  .sectionRegistration {
    background: #ffffff;

    min-height: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sectionRegistration {
    position: relative;

    padding-top: 360px;
    padding-bottom: 48px;

    background: #e7eaf2;

    min-height: 0;
  }
}
