.sectionRegistration {
  background: linear-gradient(to right, #e5e5e5 45.5%, #e7eaf2 9%);
}

@media screen and (max-width: 767px) {
  .sectionRegistration {
    background: #ffffff;

    min-height: 0;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sectionRegistration {
    padding-top: 360px;
    padding-bottom: 48px;

    background: #e7eaf2;

    min-height: 0;
  }
}

@media screen and (min-width: 1280px) {
  .containerImac {
    display: flex;

    min-height: 720px;
  }
}
