.sectionRegistration {
  background: linear-gradient(to right, #e5e5e5 45.5%, #e7eaf2 9%);

  min-height: 100vh;

  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .sectionRegistration {
    background: #ffffff;

    padding-top: 36px;
    padding-bottom: 36px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .sectionRegistration {
    overflow: hidden;

    padding-top: 60px;
    padding-bottom: 48px;
    padding-left: 74px;
    padding-right: 74px;

    background: #e7eaf2;
  }
}

@media screen and (min-width: 1280px) {
  .containerImac {
    display: flex;

    min-height: 720px;
  }
}
